$bgColor: #272727

$annot-highlight-yellow: #facd5a
$annot-highlight-green: #7dc768
$annot-highlight-pink: #fb5c89
$annot-highlight-purple: #c885da
$annot-highlight-blue: #69b0f1
$annot-yellow: #ffff00
$annot-red: #ff0000
$annot-brown: #aa7942
$annot-blue: #0088ff
$annot-orange: #ff8800
$annot-purple: #942192
$annot-pink: #ff40ff
$annot-black: #000000
$annot-grey: #919191
$annot-white: #ffffff

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background-color: $bgColor
  color: white

h1
  font-weight: 100

li.annotation-item
  &.highlight-yellow
    background-color: $annot-highlight-yellow
  &.highlight-green
    background-color: $annot-highlight-green
  &.highlight-pink
    background-color: $annot-highlight-pink
  &.highlight-purple
    background-color: $annot-highlight-purple
  &.highlight-blue
    background-color: $annot-highlight-blue
  &.yellow
    background-color: $annot-yellow
  &.red
    background-color: $annot-red
  &.brown
    background-color: $annot-brown
  &.blue
    background-color: $annot-blue
  &.orange
    background-color: $annot-orange
  &.purple
    background-color: $annot-purple
  &.pink
    background-color: $annot-pink
  &.black
    background-color: $annot-black
  &.grey
    background-color: $annot-grey
  &.white
    background-color: $annot-white
